<p>edit-page works!</p>
<p>edit-page works!</p>
<p>edit-page works!</p>
<p>edit-page works!</p>
<p>edit-page works!</p>
<p>--</p>
<p>--</p>

<form [formGroup]="addNewFriendForm" (ngSubmit)="onSubmit()">
  <label for="friend-name">name* </label>
  <input type="text" id="friend-name" formControlName="name" />
  <label for="email">email* </label>
  <input type="text" id="email" formControlName="email" />
  <label for="comment">comment </label>
  <input type="text" id="comment" formControlName="comment" />
  <label for="favFoodName">favourite food* </label>
  <input type="text" id="favFoodName" formControlName="favFood" />
  <label for="relStat">relationship status* </label>
  <select id="relStat" name="relStat" formControlName="relationshipStatus">
    <option value="0">single</option>
    <option value="1">in relationship</option>
    <option value="2">married</option>
  </select>
  <button type="submit" [disabled]="!addNewFriendForm.valid">
    Register Friend
  </button>
</form>
